YADISK_TOKEN=""
AUTH_TOKEN="OAuth"
CLIENT_ID=""
PROXY_URL="socks5h://user:pass@ip:port"
TELEGRAM_TOKEN=""
TELEGRAM_CHAT_ID=0
# Minimum number of times a track must appear in API response to trigger download
MIN_TRACK_HITS_TO_DOWNLOAD=3
DOWNLOAD_TIMEOUT_RETRY=3
DOWNLOAD_TIMEOUT=180
YADISK_PROXY_URL="socks5h://user:pass@ip:port"
